<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:http="http://cxf.apache.org/transports/http/configuration"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:sec="http://cxf.apache.org/configuration/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/util 
                        http://www.springframework.org/schema/util/spring-util-3.0.xsd
						http://www.springframework.org/schema/aop 
    					http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                        http://www.springframework.org/schema/cache 
                        http://www.springframework.org/schema/cache/spring-cache.xsd    					
						http://cxf.apache.org/configuration/security
      					http://cxf.apache.org/schemas/configuration/security.xsd
 					    http://cxf.apache.org/transports/http/configuration 
						http://cxf.apache.org/schemas/configuration/http-conf.xsd
						http://www.springframework.org/schema/data/jpa
                        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">
	
	<import resource="database/hibernate/hibernate-usuarios-api.xml" />
	
	<context:component-scan base-package="com.prismamp.usuarios.api" />
	<context:annotation-config />
	<context:property-placeholder location="classpath:usuarios-api.properties" />
	<jpa:repositories base-package="com.prismamp.usuarios.api.repository"/>
	<aop:aspectj-autoproxy />
	
	<!-- Cache Manager -->
	<cache:annotation-driven/>
	<bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager">
		<property name="caches">
			<set>
				<bean name="rechazos" class="com.prismamp.usuarios.api.repository.SpringGuavaCacheAdapter">
					<property name="expireAfterAccessInSeconds" value="3600" />
					<property name="expireAfterWriteInSeconds" value="3600" />
				</bean>
				<bean name="tiposDocumento" class="com.prismamp.usuarios.api.repository.SpringGuavaCacheAdapter">
					<property name="expireAfterAccessInSeconds" value="3600" />
					<property name="expireAfterWriteInSeconds" value="3600" />
				</bean>
				<bean name="tiposDocumentoId" class="com.prismamp.usuarios.api.repository.SpringGuavaCacheAdapter">
					<property name="expireAfterAccessInSeconds" value="3600" />
					<property name="expireAfterWriteInSeconds" value="3600" />
				</bean>
				<bean name="provincias" class="com.prismamp.usuarios.api.repository.SpringGuavaCacheAdapter">
					<property name="expireAfterAccessInSeconds" value="3600" />
					<property name="expireAfterWriteInSeconds" value="3600" />
				</bean>
			</set>
		</property>
	</bean>
	

	<bean id="apiListingResourceJSON" class="io.swagger.jaxrs.listing.ApiListingResource"/>
    <bean id="apiDeclarationProvider" class="io.swagger.jaxrs.listing.SwaggerSerializers"/>
    <bean id="beanConfig" class="io.swagger.jaxrs.config.BeanConfig">
        <property name="resourcePackage" value="com.prismamp.usuarios.api" />
		<property name="version" value="1.0.0" />
		<property name="schemes" value="http, https" />
		<property name="host" value="${com.prismamp.usuarios.swagger.host}" />
		<property name="basePath" value="/usuarios-api/internal" />
		<property name="title" value="USUARIOS - API Rest" />
		<property name="description" value="Endpoint Rest de USUARIOS. De uso exclusivo de Prisma Medios de Pagos S.A. NO debe ser expuesto" />
		<property name="scan" value="true" />
	</bean>
</beans>